* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.to-do-container {
    height: 70vh;
    width: 60vw;
    min-height: 400px;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.input-container {
    height: 70vh;
    width: 50vw;
    min-height: 400px;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 80%;
}

section p {
    margin-top: 30px;
}

section button {
    display: flex;
    justify-content: center;
    align-content: center;
}