.type-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.type-form input {
    flex-grow: 1;
    width: 50vw;
    min-width: 300px;
}

.type-form input, .type-form button {
    font-size: 1.1em;
}