.to-do-header{
    font-size: 2em;
    margin: 20px;
}

.to-do-item{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.mark-done{
    background-color: white;
    border-radius: 5px;
    border: none;
}

.to-do-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 55vw;
    min-width: 300px
}

.inactive {
    text-decoration: line-through;
}

.remove-button{
    color: white;
    border-radius: 100%;
    margin: 10px;
}

.item-form-section {
    padding-top: 20px;
}